.div-home {
  margin-top: 5rem;
}

.stefanini-container {
  width: 60%;
  max-width: 800px;
  margin: 30px auto;
}

.stefanini-card {
  background-color: #626161;
  border-radius: 10px;
}

.stefanini-cadastro-input {
  width: 60%;
  max-width: 100%;
}

.stefanini-cadastro-title {
  color: #b26e10;
  font-size: 24px;
  margin-bottom: 20px;
}
  
  .stefanini-title-response {
    color: #1B2531;
    margin-right: 14px;
    font-size: 20px;
    justify-items: center;
    padding-top: 10px;
    border-top: 1px solid #1B2531;
  }
  
  .stefanini-form-control-container {
    margin-bottom: 16px;
    max-width: 30px;
  }
  
  .stefanini-form-control {
    height: 46px;
    margin-right: 50px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    width: 90%;
    color: #9AAABE;
    padding: 0px 20px;
    font-size: 18px;
  }

  .home-btn {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 235px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.015em;
    color: #fff;
    margin-top: 50px;
    padding-right: 20px;
    text-justify: initial;
  }
  
  .home-btn:hover {
    background-color: var(--primary-hover-color);
    color: #fff;
    transform: scale(1.01);
  }
  
  .button-fechar {
    background-Color: #1B2531;
    flex-Direction: 'row';
    padding: 3px 10px !important;
    border-Radius: 10px;
    margin-Top: 0px;
    margin-Left: 2px;
    margin-Right: 10px;
    align-Items: 'center';
    justify-Content: 'center'
  }

  .mensagem-erro{
    color: aqua;
  }
  
  .show576 {
    display: none;
  }
  
  .show992 {
    display: none;
  }
  
  @media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }
  
    .stefanini-card {
        padding: 35px;
    }
  }
  
  @media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
  }

@media (min-width: 411px) {
  .div-home {
    margin-top: 9rem;
  }
}

@media (min-width: 768px) {
  .div-home {
    margin-top: 7rem;
  }
}

@media (min-width: 579px) {
  .div-home {
    margin-top: 7rem;
  }
}
